.movies-list-container {
  margin: 0 1em 5em;
  border: 1px solid black;
}

.glasses {
  width: 70%;
}

.final-message {
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 15px;
  padding: 2em;
}