.movies-list-container {
  margin: 0 1em 5em;
  border: 1px solid black;
}

.glasses {
  width: 70%;
}

.final-message {
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 15px;
  padding: 2em;
}

.header-cines-title {
  font-size: 1em;
}

.screen-icon {
  width: 40%;
}

.seats-container {
  background-color: #adb6a0;
}

.seats-hr {
  border: 2px solid white;
}

svg {
  width: 15%;
}

ellipse {
  fill: transparent;
  stroke: #347;
  stroke-width: 8px;
}

.info-movie {
  padding-top: 1em;
}

.some-info-container {
  margin-left: 2em;
}

.time-container {
  margin-bottom: 0.3em;
}

.time {
  margin-left: 0.3em;
}

.price-button {
  color: white;
  border-radius: 5px;
  border-style: none;
  display: flex;
  justify-content: center;
  padding: 5px 30px;
}

.movie-details {
  padding: 1em;
}

.movie-details-icons-container {
  width: 10%;
}

.options {
  background-color: white;
  padding: 0;
}

.options li {
  padding: 1em 0.5em;
}

.options li a {
  color: #6B6868;
}

.breadcrumb-item.active {
  color: #dc3545;
  border-bottom: 3px solid #dc3545;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: none;
}

.form-group {
  margin-top: 2rem;
}

.form-group .ticket-label {
  color: #6B6868;
}

.form-group .tickets-price-input {
  font-size: 1.3em !important;
  border: none;
  color: #7c7c7c;
  border-bottom: 2px solid #7c7c7c;
}

.form-group .ticket-small {
  font-size: 90%;
  position: relative;
  left: 7.5em;
  bottom: 2.45em;  
}

.continue-button {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  padding: 1.3em 0em;
  width: 100%;
  background-color: #347;
  border-style: none;
}

.see-you-container {
  color: #7c7c7c;
}

.form-group .exchange-codes-input {
  font-size: 0.9em !important;
  border: none;
  border-bottom: 2px solid gray;
}

.exchange-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.exchange-button {
  border-radius: 20px;
  border-style: none;
  padding: 0.7em 2.7em;
  background-color: #B2AFAF;
}