* {
    font-family: 'Cabin', sans-serif;  
}

.text-blue {
    color: #059;
}

.coverPage {
    background-image: url('assets/images/portada.jpg');
    background-size: cover;
    height: 82vh;
}

.btn-pink {
    background-color: #e04;
}