* {
    font-family: 'Cabin', sans-serif;  
}

.text-blue {
    color: #347;
}

.back-blue {
    background-color: #347;
}

.border-blue {
    border: 1px solid #347;
}

.coverPage {
    background-image: url('http://sm.ign.com/ign_latam/movie/r/ready-play/ready-player-one_5grr.jpg');
    background-size: cover;
    height: 82vh;
}

.coverPage1 {
    background-image: url('http://www.fotogramas.es/var/ezflow_site/storage/images/peliculas/yo-tonya/137781741-5-esl-ES/Yo-Tonya.jpg');
    background-size: cover;
    height: 82vh;
}

.coverPage2 {
    background-image: url('https://www.kino.dk/sites/default/files/styles/k_poster_big/public/movie-posters/pacific_plakat_675x1000px_0118_0.png?itok=HXKpDu--');
    background-size: cover;
    height: 82vh;
}

.btn-pink {
    background-color: #e04;
}

.sign-up-info {
    bottom: 0.5rem;
    right: 0.9rem;
}

.form-control, .socioPlanet {
    font-size: 0.8rem !important;
}

.border-in {
    border-radius: 1.5rem;
}

.border-in-middle {
    border-radius: 0.75rem;
}

.underline {
    text-decoration-line: underline;
}

.border-bottom {
    border-bottom: 2px solid #dee2e6!important;
}

.h-75 {
    height: 90vh !important;
}

/* .back-info {
    background-image: url('assets/images/TarjetaClasicaHome.png');
    background-size: cover;
} */