* {
    font-family: 'Cabin', sans-serif;  
}

.text-blue {
    color: #347;
}

.back-blue {
    background-color: #347;
}

.coverPage {
    background-image: url('assets/images/portada.jpg');
    background-size: cover;
    height: 82vh;
}

.coverPage1 {
    background-image: url('assets/images/portada1.jpg');
    background-size: cover;
    height: 82vh;
}

.coverPage2 {
    background-image: url('assets/images/portada2.jpg');
    background-size: cover;
    height: 82vh;
}

.btn-pink {
    background-color: #e04;
}

.sign-up-info {
    bottom: 0.5rem;
    right: 0.9rem;
}

.form-control, .socioPlanet {
    font-size: 0.8rem !important;
}

.border-in {
    border-radius: 1.5rem;
}

.underline {
    text-decoration-line: underline;
}

.border-bottom {
    border-bottom: 2px solid #dee2e6!important;
}